@{
  Layout = "_Layout";
}

@model MovieRental.Models.Customer

<h2>Are you sure you want to delete this customer?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}

<br>
<div id="nav-links">
  <p>@Html.ActionLink("Back to List of Customers", "Index")</p>
</div>