@{
  Layout = "_Layout";
}

@using MovieRental.Models;
@model List<MovieRental.Models.Customer>;

<h1>Customers</h1>

@if (@Model.Count == 0)
{
  <h3>No customers have been added yet!</h3>
}
else
{
  @foreach(Customer customer in Model)
  {
    <li>@Html.ActionLink($"{customer.Name}", "Details", new { id = customer.CustomerId })</li>
  }
}

<br>
<div id="nav-links">
  <p>@Html.ActionLink("Add new customer", "Create")</p>
</div>